<h1><%= @header_adj %> reggae band name generator</h1>
<% @punctuation=['.', '!', '!!', '!!!', ', mon.', ', mon!', ', JAH!!'].sample %>
<p>
	<font size=+1 color=green><%= @commandment %> <b><%= @bandname.upcase %></b><%= @punctuation %>
	</font>
	<br><br><br>
	<%= button_to("Generate New Band Name", "/welcome/index", :method => :get) %>
</p>


